.branch {
  list-style: none;
  margin: 10px 0px;
}

.branch-name {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.commit-info {
  color: #666;
  font-size: 16px;

  > span {
    display: block;
  }
}

.error-msg {
  color: red;
  margin-top: 10px;
}

.form {
  margin: 10px 0px;

  > label {
    display: block;
    margin-bottom: 5px;
  }

  > input {
    margin-bottom: 10px;
  }

  > button {
    display: block;
    margin-top: 10px;
  }
}
